.contacts {
    padding: 114px 0 123px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts__subtitle {
    margin-bottom: 29px;
    width: 300px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto 29px auto;
}

.contacts__link {
    display: block;
    padding: 13px 29px;
    background-color: #070707;
    color: #FFFFFF;
    max-width: 180px;
    margin: 0 auto 86px auto;
    border-radius: 99px;
    transition: .3s;
}

.contacts__link:hover {
    color: #070707;
    background-color: #828282;
    transition: .3s;
}

.contacts__icons {
    display: flex;
    gap: 0 60px;
    margin: 0 auto 46px auto;
    justify-content: space-between;
    max-width: 350px;
}

.contacts__icon {
    display: block;
    width: 40px;
    height: 40px;
}

.contacts__bottoms {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    max-width: 245px;
    margin: 0 auto;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .contacts {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .contacts__title {
        margin-bottom: 27px;
    }
    .contacts__subtitle {
        margin-bottom: 39px;
    }
    .contacts__link {
        margin-bottom: 48px;
        max-width: 60%;
        text-align: center;
    }
    .contacts__icons {
        margin-bottom: 49px;
    }
    .contacts__bottoms {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 100%;
    }
}

@media (max-width: 500px) {
    .contacts__link {
        margin-bottom: 48px;
        max-width: 100%;
        text-align: center;
    }
}