@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}

/* @font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff") format ("woff"), url("../fonts/Gilroy-Bold.woff2") format ("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy.woff") format ("woff"), url("../fonts/Gilroy.woff2") format ("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */