.nav {
    border-bottom: 1px solid #828282;
    padding: 32px 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-family: 'Gilroy-Bold';
    color: #828282;
}

.nav__link:hover {
    color: #070707;
    transition: .5s;
}

@media (max-width: 1024px) {
    .nav {
        display: none;
        }
}