.home {
    padding: 40px 0 104px;
}

.home__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 49px;
}

.home__title {
    font-family: 'Bebas Neue', Arial, Helvetica, cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    /* color: #FFFFFF; */
    /* width: 600px; */
}

.home__desktop {
    display: block;
    background-color: #3A4F63;
    width: 100%;
    height: auto;
}
.home__info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* color: #FFFFFF; */
}